flow.js
[{"id":"ca3272ae.207f1","type":"inject","z":"93f057ab.e66668","name":"trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":840,"wires":[["2b2cc3c0.e22cbc"]]},{"id":"2b2cc3c0.e22cbc","type":"function","z":"93f057ab.e66668","name":"gen random","func":"// https://stackoverflow.com/a/22080644\n\nconst boxMullerRandom = (() => {\n    let phase = 0, x1, x2, w, z;\n\n    return () => {\n        if (!phase) {\n            do {\n                x1 = 2.0 * Math.random() - 1.0;\n                x2 = 2.0 * Math.random() - 1.0;\n                w = x1 * x1 + x2 * x2;\n            } while (w >= 1.0);\n\n            w = Math.sqrt((-2.0 * Math.log(w)) / w);\n            z = x1 * w;\n        }\n        else\n            z = x2 * w;\n\n        phase ^= 1;\n\n        return z;\n    }\n})();\n\nfunction randomWalk(value, steps, min, max) {\n    min = min == null ? -Infinity : min;\n    max = max == null ? Infinity : max;\n\n    var points = Array(steps), r;\n\n    for (let i = 0; i < steps; i++) {\n\t\tdo {\n\t\t\tr = boxMullerRandom();\n\t\t} while (value + r < min || value + r > max);\n\n        value += r;\n        points[i] = value;\n    }\n\n    return points;\n}\n\nlet cnt = 600;\nlet data = [ randomWalk(30, cnt, 0, 40), randomWalk(30, cnt, 0, 40), randomWalk(30, cnt, 0, 40)];\nlet m = []\nfor (let i=0; i<cnt; i++)\n    m.push([data[0][i], data[1][i], data[2][i]]);\nreturn {payload: m};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":840,"wires":[["f8efd82a.2d7328","e99c2837.d29288"]]},{"id":"f8efd82a.2d7328","type":"function","z":"93f057ab.e66668","name":"format 10x","func":"let out = []\n\n\nlet opts = {\n    series: [\n        { label: \"time\" },\n        { label: \"bedroom\", scale: \"C\", value: 'v.toFixed(1) + \"°C\"'},\n        { label: \"livingrm\", scale: \"C\", value: 'v.toFixed(1) + \"°C\"'},\n        { label: \"kitchen\", scale: \"C\", value: 'v.toFixed(1) + \"°C\"'},\n    ],\n    axes: [\n        {},\n        {\n            scale: \"F\",\n            values: /*(u, vv, s) =>*/ 'vv.map(v => v + \"°F\")',\n        },\n        {\n            scale: \"C\",\n            values: /*(u, vv, s) =>*/ 'vv.map(v => v + \"°C\")',\n            side: 1,\n            grid: {show: false},\n        }\n    ],\n    scales: {\n        \"F\": {\n          from: \"C\",\n          range: /*(u, min, max) =>*/ '[ min*9/5+32, max*9/5+32 ]',\n        },\n    },\n};\nfor (let i=0; i<10; i++) {\n    out.push({ topic: `uplot_opts_${i}`, payload: opts })\n}\n\nmsg.payload.forEach(function(p, i) {\n    p.unshift( Math.round(Date.now()/1000 + i) );\n})\n\nfor (let i=0; i<10; i++) {\n    out.push({ topic: `uplot_data_${i}`, payload: msg.payload })\n}\nreturn [out];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":840,"wires":[["e99c2837.d29288","e187f6d3.e8bdb8"]]},{"id":"e99c2837.d29288","type":"debug","z":"93f057ab.e66668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":920,"wires":[]},{"id":"3514443c.a386ec","type":"uibuilder","z":"93f057ab.e66668","name":"Vuetify Test","topic":"","url":"d-test","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":false,"templateFolder":"vue-simple","showfolder":false,"useSecurity":false,"sessionLength":"","tokenAutoExtend":false,"oldUrl":"d/test","x":430,"y":120,"wires":[["e1ca356a.f7b668"],["298991fb.858c5e","d692005d.0e609"]]},{"id":"e1ca356a.f7b668","type":"debug","z":"93f057ab.e66668","name":"vuetify input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"298991fb.858c5e","type":"debug","z":"93f057ab.e66668","name":"vuetify ctrl","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":140,"wires":[]},{"id":"a23dd6d5.59eef8","type":"function
