public/misc/sio-demo-flow.json
[{"id":"be7111b4.82bd2","type":"flexdash in","z":"b3dedb13.216f38","name":"","server":"ad4328.f698dcd8","x":140,"y":280,"wires":[["857bb8c8.ab7978","9d765a5d.ffadb8"]]},{"id":"12f26433.525e2c","type":"flexdash out","z":"b3dedb13.216f38","name":"","server":"ad4328.f698dcd8","x":350,"y":140,"wires":[]},{"id":"65cfd615.9d43b8","type":"comment","z":"b3dedb13.216f38","name":"Simple output example -- puts \"hello\" into the demo stat widget","info":"","x":300,"y":100,"wires":[]},{"id":"60af7396.86c32c","type":"inject","z":"b3dedb13.216f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ws_data","payload":"hello","payloadType":"str","x":170,"y":140,"wires":[["12f26433.525e2c"]]},{"id":"f53c33e0.c3ed6","type":"comment","z":"b3dedb13.216f38","name":"Simple input/output example -- works with the demo light switch widget","info":"","x":330,"y":200,"wires":[]},{"id":"145f8104.84b77f","type":"inject","z":"b3dedb13.216f38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bye","payloadType":"str","x":350,"y":240,"wires":[["36c32950.97ed36"]]},{"id":"857bb8c8.ab7978","type":"switch","z":"b3dedb13.216f38","name":"topic==switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":280,"wires":[["36c32950.97ed36"]]},{"id":"36c32950.97ed36","type":"change","z":"b3dedb13.216f38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"light","tot":"str"},{"t":"delete","p":"_flexdash_id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["5d7167e9.2cb568","85a7303e.50051"]]},{"id":"9d765a5d.ffadb8","type":"debug","z":"b3dedb13.216f38","name":"flexdash in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":320,"wires":[]},{"id":"5d7167e9.2cb568","type":"flexdash out","z":"b3dedb13.216f38","name":"","server":"ad4328.f698dcd8","x":710,"y":280,"wires":[]},{"id":"f3408071.33b5","type":"comment","z":"b3dedb13.216f38","name":"Note 2nd rule so msg gets broadcast","info":"","x":580,"y":320,"wires":[]},{"id":"85a7303e.50051","type":"debug","z":"b3dedb13.216f38","name":"flexdash out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"ad4328.f698dcd8","type":"flexdash config","port":"80","options":"","path":"/io/flexdash/","redServer":true,"saveConfig":true,"allOrigins":true,"ctxName":"persistent","ctxPrefix":""}]
