public/misc/ws-demo-flow.json
[{"id":"bbb790f9.93b6d","type":"websocket out","z":"320c32ca.a8737e","name":"","server":"f031a226.a12cf","client":"","x":770,"y":480,"wires":[]},{"id":"7f99636b.190dec","type":"inject","z":"320c32ca.a8737e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ws_data","payload":"hello","payloadType":"str","x":580,"y":480,"wires":[["bbb790f9.93b6d"]]},{"id":"5edf7763.e4bc08","type":"websocket in","z":"320c32ca.a8737e","name":"","server":"f031a226.a12cf","client":"","x":260,"y":620,"wires":[["e57ee9da.b3fbd8","30adf46f.fa7cfc"]]},{"id":"e57ee9da.b3fbd8","type":"switch","z":"320c32ca.a8737e","name":"topic==switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":620,"wires":[["f99b11d7.59ec3"]]},{"id":"f99b11d7.59ec3","type":"change","z":"320c32ca.a8737e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":620,"wires":[["c6fa7247.c1ebe"]]},{"id":"c6fa7247.c1ebe","type":"websocket out","z":"320c32ca.a8737e","name":"","server":"f031a226.a12cf","client":"","x":870,"y":620,"wires":[]},{"id":"4b8a7e35.e624a","type":"inject","z":"320c32ca.a8737e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":490,"y":580,"wires":[["f99b11d7.59ec3"]]},{"id":"30adf46f.fa7cfc","type":"debug","z":"320c32ca.a8737e","name":"flexdash msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":660,"wires":[]},{"id":"f031a226.a12cf","type":"websocket-listener","path":"/ws/flexdash","wholemsg":"true"}]
